<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar class="mainBackground">{{appTitle}}</mat-toolbar>
 
    <mat-nav-list>
      <ul class="app-component nav navBarPadding">
        <li mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink=""><span class="glyphicon glyphicon-home"></span></a></li>
        <li mat-list-item routerLinkActive="active" *ngIf="canViewCustomers"><a routerLink="/customers">{{'mainMenu.Customers' | translate}}</a></li>
        <li mat-list-item routerLinkActive="active" *ngIf="canViewProducts"><a routerLink="/products">{{'mainMenu.Products' | translate}}</a></li>
        <li mat-list-item routerLinkActive="active" *ngIf="canViewOrders"><a routerLink="/orders">{{'mainMenu.Orders' | translate}}</a></li>
        <li mat-list-item routerLinkActive="active"><a routerLink="/about">{{'mainMenu.About' | translate}}</a></li>
    

      </ul>
       
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
             >
        <mat-icon aria-label="Side nav toggle icon"><span class="glyphicon glyphicon-menu-hamburger"></span></mat-icon>
      </button>
    
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
